@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200&family=Lato:wght@100&family=Open+Sans:wght@300&family=Raleway:wght@100;400&display=swap");

body {
  
  background: rgb(0, 73, 10);

background: linear-gradient(315deg, rgb(0, 73, 10) 28%, rgb(118, 237, 44) 83%);

background: -moz-linear-gradient(315deg, rgb(0, 73, 10) 28%, rgb(118, 237, 44) 83%);

background: -webkit-linear-gradient(315deg, rgb(0, 73, 10) 28%, rgb(118, 237, 44) 83%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#18224B", endColorstr="#ED2D53", GradientType=1 );
  min-height: 100vh;
  margin: 0;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
