@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200&family=Lato:wght@100&family=Open+Sans:wght@300&family=Raleway:wght@100;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200&family=Lato:wght@100&family=Open+Sans:wght@300&family=Raleway:wght@100;400&display=swap');
body {
  background: hsla(113, 37%, 30%, 1);

  background: linear-gradient(
    315deg,
    hsla(113, 37%, 30%, 1) 19%,
    hsla(58, 59%, 53%, 1) 100%
  );

  background: -moz-linear-gradient(
    315deg,
    hsla(113, 37%, 30%, 1) 19%,
    hsla(58, 59%, 53%, 1) 100%
  );

  background: -webkit-linear-gradient(
    315deg,
    hsla(113, 37%, 30%, 1) 19%,
    hsla(58, 59%, 53%, 1) 100%
  );
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#386A31", endColorstr="#CEC942", GradientType=1 );
  min-height: 100vh;
  margin: 0;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url("./components/IMG/cursor.png"), auto;
}
a {
  cursor: url("./components/IMG/pata.png"), auto;
}
button:hover {
  cursor: url("./components/IMG/pata.png"), auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
