.adminHome {
    display: flex;    
    color: white;
    font-size: 18px;
}

/* MENU NAVEGACION */
.navAdmin{
  display: block;
  position: fixed;
  top: 0;           
  color: white;  
  width: 100%;  
  background-color: #24232176;   
  min-height: 120px;
  padding-top: 12px;
  }

  @media screen and (max-width: 550px){
    .navAdmin{
      display: flex;
      flex-direction: column;      
      align-items: center;
      position: fixed;       
      width: 100%;
      min-height: 55px;  
      
      }
  }

  /* BARRA DE ADMIN */
  .barraSaludo {
      text-align: left;
      display: flex;
      flex-direction: row;
  }

  .barraSaludo button{
      height: 30px;
      color: white;
      font-size: 18px;
      border-style: none;
      background: none;
      position: relative;
      top: -5px
  }
 
  
/* BOTONES DEL MENU */
  .draw-border {
    box-shadow: inset 0 0 0 3px #ffffffb7;
    color: rgba(255, 81, 0, 0.75);
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    margin-top: 50px;
    position: relative;
    text-decoration: none;    
  }
  
  .draw-border::before,
  .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0rem;
    height: 0;
    bottom: 0;
    right: 0;
  }
  
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  
  .draw-border:hover {
    color: #d22b51;
  }
  
  .draw-border:hover::before,
  .draw-border:hover::after {
    border-color: #d22b51;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;    
    width: 100%;
    height: 100%;    
  }
  
  .draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
  }
  
  .draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: rgba(49, 18, 0, 0);
    border: none;
    cursor: pointer;
    line-height: 1.5;    
    padding: 0.45em 1em;
    letter-spacing: 0.05rem;
    margin: 0.5em;
    width: 13rem;
    color: #ffffff;
  }
  
  .btn:focus {
    outline: 2px dotted #080300;        
  }
  
  .btn:hover {
    background-color: #fffcfad0;
    font: 700 1.0rem 'Roboto Slab', sans-serif;
  }
  .linkSelected {
    color: #d22b51;
    background-color: #fffcfad0;
    border-color: #d22b51;
    text-shadow: none;
    border-style: solid;
    box-shadow: inset 0 0 0 3px #ffffffb7;    
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    
    position: relative;
    text-decoration: none;        
    cursor: pointer;
    line-height: 1.5;
    font: 'Roboto Slab', sans-serif;    
    padding: 0.55em 2em;
    letter-spacing: 0.05rem;    
    width: 13rem;    
  }

  @media screen and (max-width: 520px){
  
  }

  /* ADMIN QUESTIONS */
  .containerAdmin{
    margin-top: 125px;  
    display: flex;
    flex-direction: column;
    color: white;
  }
  .adminQuestions{
    background-color: white;
    color: rgb(38, 2, 31);
    margin-top: 5px;  
    display: flex;
    flex-direction: column;    
  }
  
   /* BUTTONS */
  .botonesBarra{ 
    display: flex;
    align-items: center;
    background-color: rgba(47, 51, 71, 0.422);
    border-radius: 0.3rem;  
    border: none;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    margin: 0.5em;
    color: white;     
  }
  .botonesBarra:hover {
    background-color: rgba(154, 158, 161, 0.4);
    cursor: pointer;    
  }
  
  .barraSobreQuestions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .barraSobreQuestions h6{
    margin: 10px;
  }

  #refresh {
    color: white
  }

  .handleAdmin{
    display: flex;
    flex-direction: row ;    
  }

  .BuscadorUsers{
    min-width: 170px;
    margin: 7px;
    font-size: 15px;
  }
  .questionTable{
      
      width: 100%;      
      height: 440px;
      margin: 0 auto;
      display: block;
      overflow-x: auto;
      border-spacing: 0;
      align-items: center;
      
    }

    .titulos{
        border-left-width: 10px;
        border-right-width: 10px;
        border-bottom-width: 3px;
        border-top-width: 3px;
        
    }
    .questionTable tbody {
        white-space: nowrap;
        
    }
    .questionTable th,
    td {
        padding: 5px 10px;
        border-top-width: 0;     
        
    }
   
table, th, td {
    border: 1px solid;    
  }
  table {
      background-color: #d22b5200;
  }

.questionTable th {
    position: sticky;
    top: 0;
    background: hsla(150, 50%, 50%, 0);
    vertical-align: bottom;    
}



.questionTable tr:last-child td {
    border-bottom-width: 0;
}


  /* ADMIN USERS */
  .adminUsers{
      background-color: white;
    color: rgb(37, 1, 30);
    margin-top: 125px;  
    display: flex;
  }