.avatars{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.itemAvatar {
    background: none;
}
.itemAvatar img{
    height: 150px;
    border-radius: 50%;
    background: none;
}

.flechitas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flechitas :hover {
    cursor: url("../IMG/pata.png"), auto;
}