.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}
.footer a{
    text-decoration: none;
    color: white;
}