/* ====== Form ====== */

.form {
    font-size: 18px;
    align-items: center;
    align-self: center;
    align-content: center;  
    display: flex;
    padding-top: 5px;
    text-align: left;
    flex-direction: column;    
    background: rgba(30, 91, 30, 0.581);
    width: 500px;
    margin: auto;
    justify-content: space-between;        
    color: rgb(255, 255, 255);            
    padding-left: 20px;        
    padding-right: 20px;        
    margin-top: 20px; 
    border: 1px solid #fff;
    border-radius: 2rem;
}
.form h3{
    color: #fff;
    margin-top: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.formName{
    border-bottom: solid;
    border-width: 1px;
    margin-bottom: 10px;
    border-color: rgb(255, 255, 255);  
}
/* .formName input{
    background-color: transparent;
    border: none;
    outline: none;
} */
.formMail{
    border-bottom: solid;
    border-width: 1px;
    margin-bottom: 10px;
    border-color: rgb(255, 255, 255);  
}
.formAvatar{
    border-bottom: solid;
    border-width: 1px;
    margin-bottom: 10px;
    border-color: rgb(255, 255, 255);
    margin-bottom: 30px;  
}
.formPass{
    border-bottom: solid;
    border-width: 1px;
    margin-bottom: 10px;
    border-color: rgb(255, 255, 255);    
}

/* ====== Form globales ====== */

.form a {
    text-decoration: none;     
}

.form input:not(:nth-last-of-type(8)) {
    width: 100%;           
    height: 30px;
    margin-top: 2px;
    margin-bottom: 4px;
    display: inline-block;
    /* border: 1px solid #ccc; */
    background-color: transparent;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:1.3rem;
    font-weight: 400;
    color: #fff;    
    border: none;  
}
.form input:focus{
    outline: none;
}

.form label:not(:last-child){
    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(108, 230, 108);
}

.form select {
    width: 100%;
    padding: 0.1rem;    
    height: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem; 
    background-color: rgba(7, 59, 2, 0.5); 
    color: #fff; 
    border: none;   
}

/* ====== Submit ====== */
.FormSubmit input.disabled{
    width: 100%;
    height: 3rem;
    color: rgb(0, 0, 0);
    background-color: rgb(100, 96, 96);
    cursor: not-allowed; 
    padding: 0.5rem 0;
    font-weight: 600;
    /* transition: 0.3s; */
}

.FormSubmit input.enabled{
    width: 100%;
    height: 2.5rem;
    color: rgb(0, 0, 0);
    /* background-color: rgb(10, 80, 25);     */
    background-image: url(../IMG/arena-green.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer; 
    border: none;
    /* transition: 0.5s; */
    color: #fff;
    font-weight: 600;
}
.FormSubmit input.enabled:hover{
    transition: 0.5s;
    filter: brightness(1.2);
}
.FormSubmit{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.FormSubmit input{
    /* display: flex; */
    flex-direction: row;
    /* justify-content: center; */
    width: 100%;
    font-size: 14px;
    padding: 2px;     
    /* background-color: rgb(107, 117, 117);  */
    border-radius: 0.5rem;
    transition: 0.3s;
}

.vistaImagen{
    margin-bottom: 8px;
}
/* ====== Conditions ====== */
.terminos {
    height: 0px;
    font-size: 10px;
    overflow: hidden;
}
/* ====== Errors ====== */
.danger {
    color: red;        
  }
  
  input.danger {
    /* border-bottom: 2px solid red; */
    animation: fiesta infinite 1s;
  }

  @keyframes fiesta{
      0%{
          color: red;
      }
      50%{
          color: rgb(255, 255, 255);
      }
      100%{
          color: red;
      }
  }
.error {
    color: rgb(253, 24, 24);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.924);    
}
/* ====== Buttons ====== */
.volver {
    position: relative;
    color: rgba(221, 221, 221, 0.9);
    background-color: rgb(225, 145, 32);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    width: 10rem;
    border-radius: 2rem;
    font-weight: bold;
    padding: 0.2rem;
}
.volver:hover {
    filter: brightness(1.2);
    cursor: url("../IMG/pata.png"), auto;
  }
.checkbox{
    display: flex;
    font-size: 0.7rem;    
    margin: none;
    align-items: center;
    
}
/* .checkbox label { */
    /* position: relative;
    left: -40%; */
    
/* } */
#check {          
    height: 12px;
    width: 10%;
    margin: 0;
    /* position: relative;
    left: -20%;
    top: -5px;    */
}

.checkbox button {
    border-style: none;
    /* background: rgba(20, 4, 4, 0.371); */
    background-color: transparent;
    color: white;
    border-bottom: 2px solid #fff;
    cursor: pointer;
    transition: 0.3s;
}
.checkbox button:hover{
    color: rgba(7, 59, 2, 1);
    border-bottom: 2px solid rgba(7, 59, 2, 1);
    transition: 0.3s;
}

/* ===== MEDIA QUERIES =====*/
@media screen and (max-width: 400px) {
    .form {
      margin: 1rem;
      width: 350px;
    }
  }
@media screen and (max-width: 360px) {
    .form {
      width: 330px;
    }
  }