.landinpage{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  background-image: url("../IMG/fondo-landing.webp");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
.containerLanding {  
  max-width: 530px;
  min-height: 80px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.4rem;
  margin-top: 1rem;
}



.logoLanging {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}


.link button {
  border-radius: 0.3rem;
  background-color: rgba(216, 221, 226, 0.4);
  color: rgba(221, 221, 221, 0.829);
  border: none;
  margin: 1rem;
  padding: 0.5rem;
}
.link button:hover {
  background-color: rgba(124, 126, 129, 0.4);
  cursor: url("../IMG/pata.png"), auto;
}

/* ===== MEDIA QUERIES =====*/
@media screen and (max-width: 500px) {
    .containerLanding {
       margin: 5rem 1rem;
      }
  }
