/* ===== CONTAINER =====*/
.containerLogin {
  background-color: rgba(216, 221, 226, 0.068);
  border: solid 3px rgba(216, 221, 226, 0.253);
  max-width: 500px;
  min-height: 645px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== LOGIN =====*/
.contentLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(216, 221, 226, 0.212);
  margin-top: 8rem;
  width: 350px;
  height: 450px;
  border-radius: 0.4rem;
}
.contentLogin form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  margin-top: 4rem;
}
.contentLogin a {
  text-decoration: none;
}
.imgUser {
  top: -90px;
  position: relative;
  margin: auto;
  background-color: rgba(185, 193, 202, 0.58);
  border-radius: 50%;
}
.contentLogin input {
  background-color: rgba(216, 221, 226, 0);
  border: none;
  margin: 0.5rem;
  width: 200px;
  color: rgba(221, 221, 221, 0.829);
  border-bottom: solid 3px rgba(216, 221, 226, 0.4);
  font-size: 15px;
}
.contentLogin input::placeholder {
  color: rgba(221, 221, 221, 0.829);
}
.contentLogin input:focus {
  outline: none;
  resize: none;
}
.input {
  display: flex;
  align-items: center;
  top: -65px;
  position: relative;  
}
.buttonLogin {
  top: -65px;
  position: relative;
  color: rgba(221, 221, 221, 0.829);
  background-color: rgba(216, 221, 226, 0.521);
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  width: 7rem;
  border-radius: 2rem;
  font-weight: bold;
  padding: 0.2rem;
}
.buttonLogin:hover {
  background-color: rgba(165, 166, 167, 0.521);
}
.linkContraseña {
  top: -65px;
  position: relative;
  text-decoration: none;
  color: rgba(221, 221, 221, 0.829);
  font-size: 10px;
}
.linkContraseña:hover {
  color: rgba(173, 170, 170, 0.829);
}

/* ===== REGISTRO =====*/
.contentLogin2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  top: -65px;
  position: relative;
}
.imgArrow {
  margin: 1rem;
}
.buttonSingUP {
  text-decoration: none;
  color: rgba(221, 221, 221, 0.829);
  width: 7rem;
  border-radius: 2rem;
  font-weight: bold;
  padding: 0.2rem;
  background-color: rgba(216, 221, 226, 0.521);
}
.buttonSingUP:hover {
  background-color: rgba(165, 166, 167, 0.521);
  color: rgba(221, 221, 221, 0.829);
  cursor: pointer;
}
.contentLogin2 button {
  margin-top: 1rem;
  width: 15rem;
  padding: 0.3rem;
  border-radius: 0.4rem;
  border: none;
  font-weight: bold;
  color: rgba(129, 126, 126, 0.829);
}

.contentLogin2 img {
  margin-left: 0.8rem;
}
/* ===== MEDIA QUERIES =====*/
@media screen and (max-width: 500px) {
  .containerLogin {
    margin: 1rem;
  }
  .contentLogin {
    width: 300px;
  }
}
