.audioPlayer{
    position: absolute;    
    right: 2px;
    top: 2px;    
    
}

audio::-webkit-media-controls-panel {
    background-color: #c25a05;
    
}
audio::-webkit-media-controls-timeline {
    background-color: #fd9431;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
