.containerPlayStore {
  overflow-x: hidden;
  background-image: url("../IMG/fondo-landing.webp");
  opacity: 0.8;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.containerPlayStore h1 {
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px #000;
}
.contentNavPlayStore {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem 3rem 1rem;
}
.btnVolverTienda {
  height: 3.2rem;
  background-color: rgb(22, 185, 30);
  border: 3px solid rgb(76, 194, 81);
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.btnVolverTienda:hover {
  cursor: url("../IMG/pata.png"), auto;
  background-color: rgb(7, 133, 13);
  border: 3px solid rgb(46, 187, 53);
}

.containerCardsBuy {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 3rem;
}
