.containerPlayStore {
  overflow-x: hidden;
  background-image: url("../IMG/arena-green.png");
  opacity: 1px;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.contentNavPlayStore {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}
.contentNavPlayStore h1 {
  color: rgb(199, 225, 200);
  font-weight: bold;
  text-shadow: 2px 2px 6px #000;
  font-size: 60px;
  font-family: 'Trebuchet MS'; 
}
.btnVolverTienda {
  height: 3.2rem;
  background-color: rgb(7, 133, 13);
  border: 3px solid rgb(46, 187, 53);
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.btnVolverTienda:hover {
  cursor: url("../IMG/pata.png"), auto;
  background-color: rgb(22, 185, 30);
  border: 3px solid rgb(76, 194, 81);
}

.containerCardsBuy {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 3rem;
}