
.title{
    position: relative;
    top: 3vh;
    display: inline-block;
    padding: 0.2em;
    color: white;
    background: linear-gradient(70deg, #aec87fa6, #39814bad);
    border-radius: 15px;
    box-shadow: 0px 3px 6px 2px #000000fa;
}

.btn_home{
    position: absolute;
    top: 3vh;
    left: 9vh;
}

.data{
    height: 70vh;
    width: 90%;
    background-color: #408d4f8f;
    margin: auto;
    overflow-x: overlay;
    overscroll-behavior: contain;
    margin-top: 4%;
    box-shadow: 0px 0px 20px 3px #000000cc;
}

.data::-webkit-scrollbar {
    width: 10px;
}

.data::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.data::-webkit-scrollbar-thumb {
    background-color: #01523994;
    border-radius: 15px;
}

.data_title{
    background-color: #01523994;
}

.view_data{
        display: flex;
        box-shadow: 1px -2px 3px 0px #91ba7a;
        color: #ffffff;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
}

.corona > img{
    width: 30px;
}

span > img{
    width: 50px;
}

span {
    margin: 25px;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
} 

.data_title:hover{
    background-color: #ff0000;
}

.view_data:hover{
    box-shadow: -1px 0px 5px 2px #0000007f;
    background-color: #afc87e8f;
}


@media screen and (max-width: 800px){
    .view_data {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    span {
        margin: 15px;
    }
    .title {
        font-size: 20px;
        margin: 15px;
    }

    .btn_home{
        position: relative;
        left: 0;
    }
}
@media screen and (max-width: 530px) {
    span {
        margin: 10px;
    }

    span>img {
        width: 40px;
    }
}
@media screen and (max-width: 350px) {
    span {
        margin: 5px;
    }
    
    .title {
        font-size: 15px;
        margin: 15px;
    }

    .view_data {
        font-size: 10px;
    }

    span>img {
        width: 30px;
    }
}
