/* ===== FORM REGISTRO =====*/
.containerSingUp {
  background-color: rgba(216, 221, 226, 0.068);
  border: solid 3px rgba(216, 221, 226, 0.253);
  max-width: 500px;
  min-height: 520px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentSingUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(216, 221, 226, 0.212);
  margin-top: 6rem;
  width: 350px;
  height: 350px;
  border-radius: 0.4rem;
}

/* ===== FORM =====*/
.contentSingUp form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  margin-top: 4rem;
}

/* ===== INPUTS =====*/
.contentSingUp input {
  background-color: rgba(216, 221, 226, 0);
  display: flex;
  align-items: center;
  border: none;
  margin: 0.5rem;
  width: 200px;
  color: rgba(221, 221, 221, 0.829);
  border-bottom: solid 3px rgba(216, 221, 226, 0.4);
  font-size: 15px;
}
.contentSingUp input::placeholder {
  color: rgba(221, 221, 221, 0.829);
}
.contentSingUp input:focus {
  outline: none;
  resize: none;
}

/* ===== SELECTOR DE AVATAR =====*/
.contentSingUp select {
  background-color: rgba(216, 221, 226, 0);
  color: rgba(221, 221, 221, 0.829);
  top: -40px;
  position: relative;
  padding: 0.4rem;
  width: 13rem;
}

.containerSingUp button {
  text-decoration: none;
  color: rgba(221, 221, 221, 0.829);
  width: 7rem;
  border-radius: 2rem;
  font-weight: bold;
  padding: 0.2rem;
  background-color: rgba(216, 221, 226, 0.521);
  border: none;
}
.containerSingUp button:hover {
  background-color: rgba(165, 166, 167, 0.521);
  color: rgba(221, 221, 221, 0.829);
}

/* ===== MEDIA QUERIES =====*/
@media screen and (max-width: 500px) {
  .containerSingUp {
    margin: 1rem;
  }
  .contentSingUp {
    width: 300px;
  }
}
